.App {
  text-align: center;
}

h1 {
  color: coral;
}
.user-information {
  display: flex;
}

.some-information {
  width: 70%;
  border-bottom: 1px solid gray;
  padding: 20px;
}
.more-information {
  border-left: 2px solid gray;
  padding: 10px;
  text-align: center;
}
